<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MEDICARE !</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" style="filter: invert(27%) sepia(71%) saturate(3024%) hue-rotate(229deg) brightness(94%) contrast(100%);" rel="icon">
  
  
  
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    
    <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/css-main/style.css" rel="stylesheet" type="text/css">
</head>

<body>

           <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/assets/img/favicon.png"
          style=" filter: invert(27%) sepia(71%) saturate(3024%) hue-rotate(229deg) brightness(94%) contrast(100%);"
          alt="">
        <span>MEDICARE</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Contact Us</a></li>
          <li class="dropdown"><a href="#"><span>Check Now</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Your Progress</a></li>


              <li><a href="#">Order Online</a></li>
              <li><a href="#">Remainders</a></li>
              <li><a href="#">Explore</a></li>
            </ul>
          </li>
          <li>
            <a href="/login">
              <img alt="My account" src="/assets/img/account.png"
                style=" filter: invert(27%) sepia(71%) saturate(3024%) hue-rotate(229deg) brightness(94%) contrast(100%);"
                height="35" width="35">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Hello </a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

