<%- include('header') -%>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Don't miss your medicines</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We remind you to take your medicines at right time!!</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#main"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/newestbg_ccexpress.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main ">

    <!-- ======= Values Section ======= -->
    <section id="values " class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Services</h2>
          <p>We help you do the following things</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/reminder-card.png" class="img-fluid" alt="">
              <h3>Set Reminders</h3>
              <p>If you are forgetting to take medicines daily,then we can help you in reminding at given time</p>
              <a href="set/<%= userData._id %>" class="btn btn-primary btn-sm">Set your reminders -></a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/goal.png" class="img-fluid" alt="">
              <h3>Track Progress</h3>
              <p>We keep track of your daily medicine intake and can show you your progress.</p>
              <a href="login" class="btn btn-primary btn-sm">Track your progress -></a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/online-shopping.png" class="img-fluid" alt="">
              <h3>Order Online</h3>
              <p>You can order your medicines online just in 1 click from the assosciated apps.</p>
              <a href="login" class="btn btn-primary btn-sm">Order your medicines online -></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>F.A.Q</h2> -->
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    Is this service free?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Yes,Our service is free of cost,except if you want to order online medicines.</strong> 
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    How many members can set reminders?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    <strong></strong>Currently a single login provides service for a single user.But we are working to develop multiple user service with single account.
                  </div>
                </div>
              </div>



            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq2-content-1">
                    Can we track progress daily ?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    <strong>Yes.</strong> You can set reminders for 3 times of the day on daily basis.
                  </div>
                </div>
              </div>





            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->


  </main><!-- End #main -->

 <%- include('footer') -%>