<%- include('header') -%>
   
    <section class="container mt-5 progress-table">
        <div class="table-responsive-md">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th scope="col">Fever</th>
                        <th scope="col">Sunday</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Morning</th>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Afternoon</th>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>
    
                </tbody>
            </table>
        </div>
        <div class="table-responsive-md">
        
            <table class="table table-bordered" >
                <thead>
                    <tr>
                    <th scope="col">Corona</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Morning</th>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                </tr>
                <tr>
                    <!-- <th scope="row">Afternoon</th> -->
                    <!-- <td><img src="images/cross.jpg"/></td>
            <td><img src="images/checked.jpg"/></td>
            <td><img src="images/checked.jpg"/></td>
            <td><img src="images/cross.jpg"/></td>
            <td><img src="images/checked.jpg"/></td>
            <td><img src="images/checked.jpg"/></td>
            <td><img src="images/cross.jpg"/></td> -->
                </tr>
                <tr>
                    <th scope="row">Night</th>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/checked.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                    <td><img src="images/cross.jpg" /></td>
                </tr>

            </tbody>
            </table>
        </div>
        <div class="table-responsive-md">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th scope="col">Dolo</th>
                        <th scope="col">Sunday</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Morning</th>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Afternoon</th>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/checked.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                        <td><img src="images/cross.jpg" /></td>
                    </tr>

                </tbody>
            </table>
       </div>
    </section>



    <%- include('footer') -%>