<link href="/css/style.css" rel="stylesheet" type="text/css">
 



<section class="main-signin">
    <div class="content">
        
        <div class="text">SignUp</div>
        <form action="/signup" method="POST">
            <div class="field">
                <span class="fas fa-user"></span>
                <input type="text" name="name" placeholder="name">
                <!-- <label>age</label> -->
            </div>
            <div class="field">
                <span class="fas fa-user-clock"></span>
                <input type="number" name="age" placeholder="Age">
                <!-- <label>age</label> -->
            </div>
            <br>
            <div class="field">
                <span class="fas fa-envelope"></span>
                <input type="text" name="email" placeholder="Email" required>
                <!-- <label>Email</label> -->
            </div>
            <br>
            <div class="field">
                <span class="fas fa-lock"></span>
                <input type="password" name="password" placeholder="Password">
                <!-- <label>Password</label> -->
            </div>
            <br>


            <br>

            <div>
                <input type="radio" value="Male" name="gender" checked> Male
                <input type="radio" value="Male" name="gender"> Female
                <input type="radio" value="Other" name="gender"> Other
            </div>

            <button>Sign Up</button>
            <div class="signup">Already member?
                <a href="register">Signin now</a>
            </div>
        </form>
    </div>
</section> 