#title{
    font-family: 'Montserrat';
        background-color: #4FBDBA;
    
}

h2,h4{

    font-family: 'PT Serif', serif;
}
#FAQ section{
    font-family:"Montserrat-Black";
    padding-bottom: 10% ;
    background-color: #AEFEFF;
}
.container-fluid
{
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
    
}
.navbar{
    padding-left: 2%;
    padding-right: 2%;
    background-color: #4FBDBA;
    
}
.navbar-custom {
    color: #FFFFFF;
    
}

.card{
     margin-right: 10%;
     margin-left: 10%;
     margin-top: 10%;
    
}
#footer section{
    padding-top: 5%;
}
#FAQ{
    background-color: #AEFEFF;
    padding-bottom: 10%;
    margin-right: 0%;
    margin-top:5%;
    margin-bottom: 5%;
}


